.b_view,.b_content{
    width: 100%;
}
.b_view{
    height: 60%;
    background: url(../images/404_preview-320x180.jpg)no-repeat;
    background-size: cover;
    display: block;
}
.b_content{
    height: 40%;
    overflow: hidden;
    background: #dadada;
    .b30,.b70{
        float: left;

    }
    .b30{
        width: 30%;
        line-height: 6.25rem;
        text-align: center;

        .avatar{
           display: inline-block;
           vertical-align: middle;
           width: 5rem;
           height: 5rem;
           background:url(../images/avatar.png)no-repeat;
           background-size: 100%;
        }
    }
    .b70{
        width: 70%;
    }
}