@charset "UTF-8";
/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

@font-face {
  font-family: 'my_font';
  src: local("微軟正黑體");
  unicode-range: U+4E00-9FFF ,U+2E80-2EFF ,U+0020-007F; }

@font-face {
  font-family: 'my_font';
  src: url(../font/Bahnschrift.TTF);
  unicode-range: U+0020-007F; }

p,
button,
input,
a,
div, span {
  font-family: "my_font"; }

span {
  font-family: "my_font"; }

* {
  font-family: "my_font"; }

a {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0; }

ul,
li {
  list-style-type: none; }

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

a {
  text-decoration: none; }

/* Set core body defaults */
/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none; }

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto; }

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block; }

html {
  height: 100vh;
  position: relative; }

* {
  outline: none; }

button {
  cursor: pointer;
  padding: 0;
  border: 0; }

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
    -o-transition-duration: 0.01ms !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important; } }

body {
  overflow-x: hidden;
  background: #99b1c6;
  height: 100%; }

.container::-webkit-scrollbar {
  width: 5px;
  position: absolute;
  left: 0; }

.container::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 10px; }

.container::-webkit-scrollbar-track {
  background: #7993ab;
  border-radius: 10px; }

.container main {
  width: 1200px;
  margin: 0 auto;
  position: relative;
  height: 797px; }

.bg_t {
  background: url(../images/bg2.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  width: 1920px;
  height: 1080px;
  position: relative;
  position: fixed;
  top: 0px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: -1; }
