@charset "UTF-8";
@media (max-width: 400px) {
  .container, .container-sm {
    width: 100%; }
    .container main, .container-sm main {
      width: auto; }
    .container .video-row .video_box, .container-sm .video-row .video_box {
      width: 100%;
      margin-right: 0;
      margin-bottom: 1rem;
      padding: 0 1rem; } }

.clearfix:before,
.clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1;
  /*For IE 6&7 only*/ }

/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

@font-face {
  font-family: 'my_font';
  src: local("微軟正黑體");
  unicode-range: U+4E00-9FFF ,U+2E80-2EFF ,U+0020-007F; }

@font-face {
  font-family: 'my_font';
  src: url(../font/Bahnschrift.TTF);
  unicode-range: U+0020-007F; }

p,
button,
input,
a,
div, span {
  font-family: "my_font"; }

span {
  font-family: "my_font"; }

* {
  font-family: "my_font"; }

a {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0; }

ul,
li {
  list-style-type: none; }

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

a {
  text-decoration: none; }

/* Set core body defaults */
/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none; }

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto; }

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block; }

html {
  height: 100vh;
  position: relative; }

* {
  outline: none; }

button {
  cursor: pointer;
  padding: 0;
  border: 0; }

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
    -o-transition-duration: 0.01ms !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important; } }

.video-row {
  width: auto;
  height: auto;
  display: inline-block; }
  .video-row::before, .video-row::after {
    content: '';
    display: table;
    clear: both; }
  .video-row h1 {
    margin-bottom: 0.5rem;
    line-height: 1; }
  .video-row p {
    margin-bottom: 0.5rem;
    line-height: 1; }
  .video-row:first-child {
    margin-top: none; }
  .video-row .video_box {
    width: 15.625rem;
    height: 15.625rem;
    float: left;
    margin-right: 2rem;
    margin-top: 3.125rem;
    cursor: pointer;
    -webkit-transition: -webkit-box-shadow .2s .2s ease-in-out;
    transition: -webkit-box-shadow .2s .2s ease-in-out;
    -o-transition: box-shadow .2s .2s ease-in-out;
    transition: box-shadow .2s .2s ease-in-out;
    transition: box-shadow .2s .2s ease-in-out, -webkit-box-shadow .2s .2s ease-in-out; }
    .video-row .video_box:hover {
      -webkit-box-shadow: 2px 2px 4px 2px #000000;
      box-shadow: 2px 2px 4px 2px #000000;
      -webkit-transition: -webkit-box-shadow .2s ease-in-out;
      transition: -webkit-box-shadow .2s ease-in-out;
      -o-transition: box-shadow .2s ease-in-out;
      transition: box-shadow .2s ease-in-out;
      transition: box-shadow .2s ease-in-out, -webkit-box-shadow .2s ease-in-out; }
      .video-row .video_box:hover .b_view {
        -webkit-filter: brightness(1);
        filter: brightness(1);
        -webkit-transition: -webkit-filter .2s .2s ease-in-out;
        transition: -webkit-filter .2s .2s ease-in-out;
        -o-transition: filter .2s .2s ease-in-out;
        transition: filter .2s .2s ease-in-out;
        transition: filter .2s .2s ease-in-out, -webkit-filter .2s .2s ease-in-out; }
    .video-row .video_box:last-child {
      margin-right: 0; }

.b_view,
.b_content {
  width: 100%; }

.b_view {
  height: 60%;
  background: url(../images/404_preview-320x180.jpg) no-repeat;
  background-size: cover;
  display: block;
  -webkit-filter: brightness(0.5);
  filter: brightness(0.5); }

.b_content {
  height: 40%;
  overflow: hidden;
  background: #dadada; }
  .b_content .b30,
  .b_content .b70 {
    float: left; }
  .b_content .b30 {
    width: 30%;
    line-height: 6.25rem;
    text-align: center; }
    .b_content .b30 .avatar {
      display: inline-block;
      vertical-align: middle;
      width: 4rem;
      height: 4rem;
      background: url(../images/avatar.png) no-repeat;
      background-size: 100%; }
  .b_content .b70 {
    width: 70%;
    line-height: 6.25rem;
    padding: 1rem;
    height: 6.25rem;
    text-align: left; }

body {
  overflow-x: hidden;
  background: #99b1c6;
  height: 100%; }

.container {
  margin: 0 auto; }
  .container::-webkit-scrollbar {
    width: 5px;
    position: absolute;
    left: 0; }
  .container::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 10px; }
  .container::-webkit-scrollbar-track {
    background: #7993ab;
    border-radius: 10px; }
  .container main {
    margin: 0 auto;
    position: relative;
    height: 100vh;
    padding-bottom: 3.125rem;
    overflow-y: auto;
    padding: 0 2rem;
    text-align: center; }
    .container main::-webkit-scrollbar {
      width: 5px;
      position: absolute;
      left: 0; }
    .container main::-webkit-scrollbar-thumb {
      background: #fff;
      border-radius: 10px; }
    .container main::-webkit-scrollbar-track {
      background: #7993ab;
      border-radius: 10px; }

.bg_t {
  background: url(../images/bg2.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  width: 1920px;
  height: 1080px;
  position: relative;
  position: fixed;
  top: 0px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: -1; }
