@import "../css/reset.scss";

body {
  overflow-x: hidden;
  background: #99b1c6;
  height: 100%;
}
header{

}
.container {
  &::-webkit-scrollbar {
    width: 5px;
    position: absolute;
    left: 0;
  }
  &::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-track {
    background: #7993ab;
    border-radius: 10px;
  }

  main {
    width: 1200px;
    margin: 0 auto;
    position: relative;
    height: 797px;

   
  }

}
.bg_t{
  background: url(../images/bg2.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    width: 1920px;
    height: 1080px;
    position: relative;
    position: fixed;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}
