@import "../css/media.scss";
@import "../css/clearfix.scss";
@import "../css/reset.scss";
@import "../css/video-row.scss";
body {
  overflow-x: hidden;
  background: #99b1c6;
  height: 100%;
}
header {
}
.container {
  margin: 0 auto;
  &::-webkit-scrollbar {
    width: 5px;
    position: absolute;
    left: 0;
  }
  &::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-track {
    background: #7993ab;
    border-radius: 10px;
  }

  main {
    margin: 0 auto;
    position: relative;
    height: 100vh;
    padding-bottom: 3.125rem;
    overflow-y: auto;
    padding: 0 2rem;
    text-align: center;
    &::-webkit-scrollbar {
      width: 5px;
      position: absolute;
      left: 0;
    }
    &::-webkit-scrollbar-thumb {
      background: #fff;
      border-radius: 10px;
    }
    &::-webkit-scrollbar-track {
      background: #7993ab;
      border-radius: 10px;
    }
  }
}
.bg_t {
  background: url(../images/bg2.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  width: 1920px;
  height: 1080px;
  position: relative;
  position: fixed;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}
