@media (max-width: 400px){
    .container, .container-sm {
     width: 100%;
     main{
        width: auto;
     }
        .video-row .video_box{
            width: 100%;
            margin-right: 0;
            margin-bottom: 1rem;
            padding: 0 1rem;
        }
    }
}
// @media (min-width: 576px){
//     .container, .container-sm {
//         max-width: 540px;
//     }
// }
// @media (min-width: 768px){
//     .container, .container-md, .container-sm {
//         max-width: 720px;
//     }
// }
// @media (min-width: 992px){
//     .container, .container-lg, .container-md, .container-sm {
//         max-width: 960px;
//     }
// }
// @media (min-width: 1200px){
//     .container, .container-lg, .container-md, .container-sm, .container-xl {
//         max-width: 1200px;
//     }
// }






