@import "../css/reset.scss";

body {
  overflow-x: hidden;
  background: #99b1c6;
  height: 100%;
}
header {
  font-size: 14px;
  width: 100%;
  height: 5em;
  line-height: 5em;

  top: 0;
  background: #252525;
  line-height: 100%;
  position: fixed;
  z-index: 10;
  .h_wrap {
    // width: 1100px;
    width: 1200px;
    margin: 0 auto;
    height: 100%;
    line-height: 5em;
    overflow: hidden;
    background: #252525;
    .logo {
      width: 15%;
      height: 100%;
      text-align: center;
      float: left;
      h1 {
        font-size: 4em;
        line-height: 100%;
        display: inline-block;
        vertical-align: middle;
        background: linear-gradient(to right, #e70057 0%, #ff3f3f 100%);
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
    ul {
      float: left;
      overflow: hidden;
      margin: 0 0 0 1em;
      &.m_yet {
        // width: 30%;
        height: 100%;
        line-height: 5em;
        li {
          color: #818181;
        }
      }
      li {
        font-size: 16px;
        float: left;
        padding: 0 1em;
        position: relative;
        cursor: pointer;
        &:hover,
        &:active,
        &.active {
          background: #363636;
          color: #fff;
          border-bottom: 1px solid #d22442;
          &:before {
            content: "";
            background: #d22442;
            height: 0.2em;
            width: 100%;
            position: absolute;
            bottom: 0;
            left: 0;
          }
        }
      }
    }
    .right {
      float: right;
      line-height: 5em;
      height: 5em;
      width: 27%;
      
      .sign_yet,.sign_in{
        overflow: hidden;
      }
      .sign_yet{
        height: 100%;
        border-left: 1px solid #363636;
      }
      //登入
      .sign_in{
        // width: 80%;
        width: 60%;
        height: 100%;
        float: right;
        border-left: 1px solid #363636;
      }
      .top_wrap,
      .bot_wrap {
        display: inline-block;
        float: right;
        height: 50%;
        text-align: right;
        line-height: 2.5em;
        width: 100%;
      }
      .top_wrap {
        margin: 2px 0 0;
        input,
        button {
          display: inline-block;
          vertical-align: middle;
          margin: 0 0 0 0px;
          border-radius: 4px;
        }
        input {
          width: 40%;
          height: 70%;
          padding: 4px 3px 3px;
          border: none;
          font-size: 1.1em;
        }

        button {
          width: 15%;
          background: linear-gradient(to right, #e70157 0%, #fd3b41 100%);
          border: 1px solid #c80008;
          line-height: 1.8em;
          font-size: 1.1em;
          color: #fff;
          padding: 0;
          transition: all 0.1s ease-in-out;
          &:active {
            transform: scale(0.9);
          }
        }

        //登入頁面
        .u_wrap,.so_wrap{
          padding: 4px 0 0;
        }
        .u_wrap{
          float: left;
          width: 70%;
          color: #979797;
          font-size: 1.1em;
          p,i{
            display: inline-block;
          }
          i{
            display: inline-block;
            vertical-align: baseline;
            width: 14px;
            height: 14px;
            background: url(../images/us.png) no-repeat;
            background-size: 200%;
            margin: 0 5px 0 0;
            position: relative;
            cursor: pointer;
            &.i1{
              margin: 0 8px 0 0;
              background-position: -15px 0;
              &.yr{
                  &:before{
                    content: '';
                    position: absolute;
                    right: -6px;
                    top: -4px;
                    width: 5px;
                    height: 5px;
                    border-radius: 100%;
                    background: red;
                  }
                  
                  
              }
            }
          }
        }
        .so_wrap{
          width: 30%;
          text-align: right;
          overflow: hidden;
          position: relative;
          &:before{
            content: '';
            position: absolute;
            left: 13px;
            top: 50%;
            transform: translateY(-50%);
            background: #363636;
            height: 16px;
            width: 1px;
          }
        }
        .sign_out{
          color: #fff;
          font-size: 1.1em;
          cursor: pointer;
          display: inline-block;
          position: relative;
          line-height: 100%;
        }

      }
      .bot_wrap {
        line-height: 2.1em;
        height: 2.1em;
        .sign_up,
        .btn_wrap {
          display: inline-block;
          vertical-align: middle;
        }
        .btn_wrap {
          width: 72%;
          button {
            background: none;
            border: none;
            padding: 0;
          }
          .l_btn,
          .r_btn {
            line-height: 100%;
            font-size: 1.1em;
          }
          .l_btn {
            float: left;
            color: #b2243c;
            &:hover {
              text-shadow: 0px 0px 2px #c71f1f;
            }
          }
          .r_btn {
            float: right;
            color: #979797;
            &:hover {
              text-shadow: 0px 0px 2px #929292;
            }
          }
        }
        .sign_up {
          background: linear-gradient(to right, #9ab3c8 0%, #54799a 100%);
          color: #fff;
          border: 1px solid #296396;
          width: 25%;
          padding: 0;
          border-radius: 4px;
          line-height: 1.7em;
          font-size: 1.1em;
          transition: all 0.1s ease-in-out;
          &:active {
            transform: scale(0.9);
          }
        }
        //登入頁面_bot
        .m_wrap{
          font-size: 1.2em;
          p{
            display: inline-block;
            vertical-align: middle;
            line-height: 100%;
            &.gray{
              color: #979797;
              margin: 0 4px 0 0;
            }
            &.red{
              color: #d22442;
            }
          }
        }
      }
    }
  }
}
.container {
  // background: url(../images/bg.jpg) no-repeat;
  // background-size: cover;
  // background-position: center;
  // overflow: hidden;
  margin: 70px 0 0;
  width: 100%;
  height: calc(100% - 70px);
  // height: 815px;
  // position: relative;
  position: fixed;
  z-index: 1;
  overflow: auto;
  //   &:before{
  //     content: '';
  //     position: absolute;
  //     left: 0;
  //     top: 0;
  //     background: url(../images/bg.jpg) no-repeat;
  //     background-size: cover;
  //     background-position: center;
  //     overflow: hidden;
  //     height: 867px;
  //   }
  &::-webkit-scrollbar {
    width: 5px;
    position: absolute;
    left: 0;
  }
  &::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-track {
    background: #7993ab;
    border-radius: 10px;
  }
  .f_wrap{
    position: fixed;
    right: 0;
    top: 200px;
    width: 43px;
    z-index: 10;
    .f_top,.f_bot{
      width: 100%;
      text-align: center;
      line-height: 50px;
      background: linear-gradient(to right , #fe4546 0%, #a5013e 100%);
      cursor: pointer;
      position: relative;

      .h_box{
        position: absolute;
        width: 100px;
        padding: 12px;
        background: #fff;
        left: -120px;
        top: 20%;
        border: 1px solid #90adca;
        border-radius: 4px;
        pointer-events: none;
        opacity: 0;
        transition: all 0.2s ease-in-out;
       
        &:before{
          content: '';
          position: absolute;
          top: 12px;
          right: -6px;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 4px 0 4px 6px;
          border-color: transparent transparent transparent #fff;
          z-index: 1;
        }
        &:after{
          content: '';
          position: absolute;
          top: 10px;
          right: -8px;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 6px 0 6px 8px;
          border-color: transparent transparent transparent #90adca;
          z-index: 0;
        }
        p{
          line-height: 100%;
          color: #ee1350;
        }
        span{
          display: inline-block;
          &.qr{
            width: 60px;
            height: 60px;
            background: url(../images/icon/qr.png)no-repeat;
            background-size: 100%;
            margin: 8px 0 0;
          }
        }
      }
      &:hover{
        background: linear-gradient(to right , #d8d8d8 0%, #fff 100%);
        .h_box{
          pointer-events: all;
          opacity: 1;
          box-shadow: 0 0 4px 1px #0000003d;
        }
        span{
          &.i1{
            background-position: 0 -25px;
          }
          &.i2{
            background-position: -25px -25px;
          }
        }
      }
      span{
        display: inline-block;
        line-height: 100%;
        vertical-align: middle;
        width: 25px;
        height: 25px;
        background: url(../images/icon/f_btn.png)no-repeat;
        background-size: 200%;
        &.i1{
          background-position: 0 0;
        }
        &.i2{
          background-position: -25px 0;
        }
      }
    }
    .f_top{
      border-bottom: 1px solid #fa4246;
      border-radius: 8px 0 0 0;
    }
    .f_bot{
      border-radius: 0 0 0 8px;
    }
  }
  main {
    width: 1200px;
    margin: 0 auto;
    position: relative;
    height: 797px;
    .swiper_ {
      height: 420px;
      position: relative;
      font-size: 14px;
      //swiper
      .top_wrap{
        overflow: visible;
        width: 1200px;
        height: 60px;
        position: fixed;
        top: 70px;
      margin: 0 auto;
      z-index: 10;
        .gt{
          width: 70%;
          float: left;
          position: relative;
          &:before{
            content: '';
            position: absolute;
            top: 3px;
            left: 0;
            width: calc(8.33% * 12);
            height: 56px;
            background: #c5c5c5;
            border-radius: 0 0 8px 8px;
          }
          ul{
            width: 100%;
            border-radius: 0 0 8px 8px;
            height: 56px;
            position: relative;
     
            li{
              background: #fcfcfc;
              border-right: 1px solid #dddddd;
              float: left;
              width: 6.25%;
              text-align: center;
              padding: .3em 0 .5em;
              cursor: pointer;
              &:first-child{
                border-radius: 0 0 0 8px;
              }
              &:last-child{
                border-radius: 0 0 8px 0;
              }
              &:hover,&:active,&.active{
                background: #eb0b53;
                box-shadow: 0 0 12px 0px #eb0b53;
                p{
                  color: #fff;
                }
                i{
                   &.i1{
                  background-position: 0 -2em;
                }
                &.i2{
                  background-position: -2em -2em;
                }
                &.i3{
                  background-position: -4em -2em;
                }
                &.i4{
                  background-position: -6em -2em;
                }
                &.i5{
                  background-position: -8em -2em;
                }
                &.i6{
                  background-position: -10em -2em;
                }
                &.i7{
                  background-position: -12em -2em;
                }
                &.i8{
                  background-position: -14em -2em;
                }
                &.i9{
                  background-position: -16em -2em;
                }
                &.i10{
                  background-position: -18em -2em;
                }
                &.i11{
                  background-position: -20em -2em;
                }
                &.i12{
                  background-position: -22em -2em;
                }
                &.i13{
                  background-position: -24em -2em;
                }
                &.i14{
                  background-position: -26em -2em;
                }
                &.i15{
                  background-position: -28em -2em;
                }
                &.i16{
                  background-position: -30em -2em;
                }
                }
              }
              i{
                display: inline-block;
                width: 2em;
                height: 2em;
                background: url(../images/icon/gt.png)no-repeat;
                background-size: 1600%;
                display: inline-block;
                background-position: -2em 0;
                margin: 0 0 -4px;
                &.i1{
                  background-position: 0 0;
                }
                &.i2{
                  background-position: -2em 0;
                }
                &.i3{
                  background-position: -4em 0;
                }
                &.i4{
                  background-position: -6em 0;
                }
                &.i5{
                  background-position: -8em 0;
                }
                &.i6{
                  background-position: -10em 0;
                }
                &.i7{
                  background-position: -12em 0;
                }
                &.i8{
                  background-position: -14em 0;
                }
                &.i9{
                  background-position: -16em 0;
                }
                &.i10{
                  background-position: -18em 0;
                }
                &.i11{
                  background-position: -20em 0;
                }
                &.i12{
                  background-position: -22em 0;
                }
                &.i13{
                  background-position: -24em 0;
                }
                &.i14{
                  background-position: -26em 0;
                }
                &.i15{
                  background-position: -28em 0;
                }
                &.i16{
                  background-position: -30em 0;
                }
              }
              p{
                color: #3d5f81;
                font-size: .8em;
              }
            }
          }
        }
        .u_option{
          float: right;
          padding: 8px 0 0;
          .u_s_wrap,.u_t_wrap{
            float: left;
            position: relative;
            border-radius: 8px;
            width: 120px;
            height: 41px;
            transition: all 0.2s ease-in-out;
            &:hover{
              box-shadow: 0 0 4px 1px #fff;
            }
            &:active{
              box-shadow:none;
            }
            button{
              background: #7f9db7;
              color: #fff;
              line-height: 38px;
              width: 120px;
              height: 38px;
              border-radius: 8px;
              font-size: 14px;
              position: relative;
              overflow: hidden;
              z-index: 1;
              transition: all 0.2s ease-in-out;
              &:hover{
                
                &:after{
                  opacity: 1;
                }
              }
              &:active {
                transform: translateY(3px);
              }
              &:before{
                position: absolute;
                content: "";
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background: url(../images/icon/wave_b.png) no-repeat;
                background-size: 100%;
                pointer-events: none;
              }
              &:after{
                position: absolute;
                content: "";
                width: 100%;
                height: 41px;
                top: 0;
                left: 0;
                background: url(../images/icon/shine_b.png) no-repeat;
                background-size: 100%;
                pointer-events: none;
                opacity: 0;
              }

              span,p{
                display: inline-block;
                line-height: 100%;
              }
              span{
                width: 18px;
                height: 18px;
                vertical-align: middle;
                background: url(../images/icon/btn_i2.png) no-repeat;
                background-size: 200%;
                margin: 0 4px 0 0;
                &.i1{
                  background-position: 0 0;
                }
                &.i2{
                  background-position: -18px 0;
                }
              }
              p{
                font-size: 15px;
                letter-spacing: 5px;
                vertical-align: sub;
              }
            }
            &:after{
              position: absolute;
              content: "";
              width: 120px;
              height: 38px;
              top: 3px;
              left: 0;
              background: linear-gradient(to right, #3b6a91 0%, #c1dcf3 50%, #3b6a91 100%);
              border-radius: 8px;
              pointer-events: none;
            }
          }
          .u_s_wrap{
            margin: 0 8px 0 0;
          }
        }
      }
      .bot_wrap{
        margin: 70px 0 0;
        height: 100%;
        line-height: 421px;
        position: relative;
        .group{
          overflow: hidden;
          width: 100%;
          height: 100%;
        }
        .L_btn,.R_btn{
          background: rgba(255,255,255,0.5);
          border-radius: 100%;
          width: 50px;
          height: 50px;
          position: absolute;
          top: 40%;
          cursor: pointer;
          z-index: 1;
          transition: all 0.2s ease-in-out;
          &:before{
            position: absolute;
            content: '';
            background: url(../images/icon/arrow_blue.png)no-repeat;
            background-size: cover;
            width: 16px;
            height: 25px;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
          }
          &:hover{
            box-shadow: 0 0 3px 2px #fff;
          }
          &:active{
            transform: scale(0.9);
          }
        }
        .L_btn{
          left: 3px;
        }
        .R_btn{
          right: 3px;
          &:before{
            transform: translate(-50%,-50%) rotate(180deg);
          }
        }
        .c_wrap{
          font-size: 14px;
          width: 23.3em;
          line-height: 100%;
          position: absolute;
          bottom: 0;
          cursor: pointer;
          transition: all 0.2s ease-in-out;
          &:hover:hover:hover:hover{
            z-index: 5;
            transition: all 0.2s ease-in-out;
            .gm{
              transform: translateX(-50%) scale(1.1);
            }
          }
          &.n1{
            z-index: 3;
            // bottom: 60px;
            bottom: 20px;
            left: 50%;
            transform: translateX(-50%);
            // &.left{

            // }
            // &.right{
              
            // }
            .card{
              bottom: 50px;
              position: relative;
            }
          }
          &.n2{
            z-index: 2;
            // bottom: 40px;
            bottom: 20px;
            &.left{
              left: 20%;
            }
            &.right{
              right: 20%;
            }
            .card{
              bottom: 20px;
              position: relative;
            }
          }
          &.n3{
            z-index: 1;
            bottom: 20px;
            &.left{
              left: 0%;
            }
            &.right{
              right: 0%;
            }
          }
          .gm{
            width: 250px;
            height: 400px;
            z-index: -1;
            background: url(../images/gm.png) no-repeat;
            background-size: 1600%;
            display: inline-block;
            position: absolute;
            left: 50%;
            bottom: -20px;
            transform: translateX(-50%);
            transition: all 0.2s ease-in-out;
            &.i1{
              background-position: 0 0;
              
            }
            &.i2{
              background-position: -250px 0;
              
            }
            &.i3{
              background-position: -500px 0;
              
            }
            &.i4{
              background-position: -750px 0;
              
            }
            &.i5{
              background-position: -1000px 0;
              
            }
            &.i6{
              background-position: -1250px 0;
              
            }
            &.i7{
              background-position: -1500px 0;
              
            }
            &.i8{
              background-position: -1750px 0;
              
            }
            &.i9{
              background-position: -2000px 0;
              
            }
            &.i10{
              background-position: -2250px 0;
              
            }
            &.i11{
              background-position: -2500px 0;
              
            }
            &.i12{
              background-position: -2750px 0;
              
            }
            &.i13{
              background-position: -3000px 0;
              
            }
            &.i14{
              background-position: -3250px 0;
              
            }
            &.i15{
              background-position: -3500px 0;
              
            }
            &.i16{
              background-position: -3750px 0;
            }
          }
          .card{
            height: 8.6em;
            background: url(../images/icon/sw_cards.png)no-repeat;
            background-size: 1600%;
            border-radius: 8px;
            overflow: hidden;
            z-index: 1;
            &.c1{
             background-position: 0 0; 
            }
            &.c2{
              background-position: -23.3em 0;
            }
            &.c3{
              background-position: -46.6em 0;
            }
            &.c4{
              background-position: -69.9em 0;
            }
            &.c5{
              background-position: -93.2em 0;
            }
            &.c6{
              background-position: -116.5em 0;
            }
            &.c7{
              background-position: -139.8em 0;
            }
            &.c8{
              background-position: -163.1em 0;
            }
            &.c9{
              background-position: -186.4em 0;
            }
            &.c10{
              background-position: -209.7em 0;
            }
            &.c11{
              background-position: -233em 0;
            }
            &.c12{
              background-position: -256.3em 0;
            }
            &.c13{
              background-position: -279.6em 0;
            }
            &.c14{
              background-position: -302.9em 0;
            }
            &.c15{
              background-position: -326.2em 0;
            }
            &.c16{
              background-position: -349.5em 0;
            }
            .title{
              text-align: center;
              background: linear-gradient(to right, #a5023e 0%, #fe4646 50%,#a5023e 100%);
              color: #fff;
              font-size: 1.2em;
              line-height: 32px;
              &.red{
                background: linear-gradient(to right, #a5023e 0%, #fe4646 50%,#a5023e 100%);
              }
              &.violet{
                background: linear-gradient(to right, #3a005d 0%, #a300c7 50%,#3a005d 100%);
              }
              &.blue{
                background: linear-gradient(to right, #04106a 0%, #3261f8 50%,#04106a 100%);
              }
              p,span{
                display: inline-block;
                line-height: 100%;

              }
              span{
                width: 20px;
                height: 20px;
                background: #000;
                vertical-align: middle;
                background: url(../images/icon/h_icon.png)no-repeat;
                background-size: contain;
                margin: -4px 0 0;
              }
              p{
                vertical-align: middle;
              }
            }
            .content{
              padding: 10px 20px 0;
              .sub_title{
                overflow: hidden;
                color: #9b9b9b;
                .left{
                  float: left;
                }
                .right{
                  float: right;
                }
              }
              .g_vs{
                margin: 14px 0 0;
                font-size: 1.4em;
                line-height: 1.4em;
                .g_m,.g_t{
                  display: inline-block;
                }
              }
              
            }
            // display: none;
          }
        }
      }
      
    }
    .content_ {
      width: 100%;
      // height: 40%;
      // height: 347px;
      // height: 328px;
      height: 308px;
      overflow: hidden;
      .lef,
      .mid,
      .rig {
        float: left;
        height: 100%;
      }
      .lef,
      .mid {
        width: 25%;
      }
      .rig {
        width: 50%;
        padding: 0 0 0 16px;
        .h_g {
          width: 100%;
          height: calc(100% - 61px);
          overflow-y: scroll;
          position: relative;
          padding: 0 16px 0 0;
          &::-webkit-scrollbar {
            width: 5px;
            position: absolute;
            left: 0;
          }
          &::-webkit-scrollbar-thumb {
            background: #fff;
            border-radius: 10px;
          }
          &::-webkit-scrollbar-track {
            background: #7993ab;
            border-radius: 10px;
          }
          .row {
            width: 100%;
            overflow: hidden;
            margin: 0 0 10px;
            .card {
              float: right;
              width: 49%;
              height: 120px;
              background: linear-gradient(
                -45deg,
                #f4f4f4 0%,
                #f4f4f4 50%,
                #f4f4f4 50%,
                #fff 50%,
                #fff 75%,
                #f4f4f4 75%,
                #f4f4f4 100%
              );
              border-radius: 8px;
              position: relative;
              overflow: hidden;
              .t_wrap {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                pointer-events: none;
                z-index: 0;
                .tri {
                  width: 50px;
                  height: 50px;
                  position: absolute;
                  right: 0;
                  bottom: -10px;
                  background: linear-gradient(45deg, #ffffff 0%,#ffffff 30%, #c1c1c1 100%);
                  span{
                    position: absolute;
                    top: 2.5px;
                    left: 2.5px;
                    width: 20px;
                    height: 20px;
                    background: url(../images/icon/gt.png)no-repeat;
                    background-size: 1600%;
                    &.i1{
                        background-position: 0 0;
                    }
                    &.i2{
                        background-position: -20px 0;
                    }
                    &.i3{
                        background-position: -40px 0;
                    }
                    &.i4{
                        background-position: -60px 0;
                    }
                    &.i5{
                        background-position: -80px 0;
                    }
                    &.i6{
                        background-position: -100px 0;
                    }
                    &.i7{
                        background-position: -120px 0;
                    }
                    &.i8{
                        background-position: -140px 0;
                    }
                    &.i9{
                        background-position: -160px 0;
                    }
                    &.i10{
                        background-position: -180px 0;
                    }
                    &.i11{
                        background-position: -200px 0;
                    }
                    &.i12{
                        background-position: -220px 0;
                    }

                  }
                    &:before{
                        content: '';
                        bottom: 20px;
                        right: -11px;
                        position: absolute;
                        width: 100px;
                        height: 40px;
                        background: #f4f4f4;
                        transform: rotate(-45deg);
                    }
                  &:first-child {
                    left: 0;
                    top: 0;
                    &:before {
                      content: "";
                      // width: 0;
                      // height: 0;
                      // border-style: solid;
                      // border-width: 0 0 50px 50px;
                      // border-color: transparent transparent #f4f4f4 transparent;
                      //有喧染不佳的裂痕
                      content: "";
                      top: 20px;
                      left: -15px;
                      position: absolute;
                      width: 100px;
                      height: 25px;
                      background: #f4f4f4;
                      transform: rotate(-45deg);
                    }
                  }
                }
              }
              .c_wrap{
                  width: 100%;
                  height: 100%;
                  position: relative;
                  overflow: hidden;
                  z-index: 1;
                  .c_l,.c_r{
                      float: left;
                      height: 100%;
                  }
                  .c_l{
                      width: 30%;
                      z-index: 2;
                      line-height: 120px;
                      text-align: right;
                      font-size: 15px;
                      @mixin draw_por ($pro) {
                        .left{
                          transform: rotate($pro * 3.6deg);
                        }
                        @if $pro <= 50 {
                          .right{
                            display: none;
                          }
                        }@else{
                          clip: rect(auto ,auto ,auto,auto);
                          .right{
                            transform: rotate(180deg);
                          }
                        }
                      }
                      .pie_wrap{
                        display: inline-block;
                        line-height: 100%;
                        vertical-align: middle;
                        width: 5em;
                        height: 5em;
                        position: relative;
                        .label{
                          background: #fff;
                          border-radius: 100%;
                          width: 80%;
                          height: 80%;
                          line-height: 64px;
                          cursor: default;
                          position: absolute;
                          text-align: center;
                          left: 50%;
                          top: 50%;
                          transform: translate(-50%, -50%);
                          z-index: 2;
                          .lab_wrap{
                            line-height: 100%;
                            vertical-align: middle;
                            display: inline-block;
                            .top{
                              color: #8e8e8e;
                              font-size: .7em;
                            }
                            .bot{
                              font-size: 1.1em;
                              span{
                                display: inline-block;
                                font-size: .9em;
                              }
                            }
                          }
                        }
                        .pie{
                          width: 100%;
                          height: 100%;
                          position: absolute;
                          top: 0;
                          left: 0;
                          z-index: 1;
                          .h_circle{
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            border-radius: 50%;
                            border: calc(5em / 10) solid #ec1d41;
                            clip: rect(0, calc(5em / 2), 5em, 0);
                          }
                        }
                        .p_bg{
                          width: 100%;
                          height: 100%;
                          position: absolute;
                          top: 0;
                          left: 0;
                          border-radius: 100%;
                          background: #d0d0d0;
                        }
                        &.pro_87{
                          @include draw_por(87);
                        }
                      }
                  }
                  .c_r{
                      width: 70%;
                      //推padding方便計算
                      position: relative;
                      .tg_wrap{
                          text-align: center;
                          color: #7a7a7a;
                          font-size: 12px;
                          height: 100%;
                          padding: 20px 0 0;
                         
                          .time,.game{
                            pointer-events: all;
                          }
                          .time{
                            
                          }
                          .game{
                            padding: 35px 0 0;
                          }
                      }
                      .cs{
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        font-size: 15px;
                        font-weight: bold;
                        &:before{
                          content: 'vs';
                          position: absolute;
                          left: calc(50%);
                          top: 50%;
                          transform: translate(-50%,-50%);

                        }
                      }
                      .wrap{
                        text-align: center;
                        display: inline-block;
                        width: 100%;
                        p{
                          display: inline-block;
                          width: 100%;
                          line-height: 100%;
                          overflow: hidden;
                          white-space: nowrap;
                          text-overflow: ellipsis;
                        }
                        i{
                          width: 20px;
                          height: 20px;
                          background: url(../images/cs.png)no-repeat;
                          background-size: 800%;
                          display: inline-block;
                          // margin: 0 0 -4px;
                          &.i1{
                            background-position: 0 0;
                          }
                          &.i2{
                            background-position: -20px 0;
                          }
                          &.i3{
                            background-position: -40px 0;
                          }
                          &.i4{
                            background-position: -60px 0;
                          }

                        }
                      }
                      .c1{
                        position: absolute;
                        left: -5px;
                        top: 50%;
                        transform: translateY(-50%);
                        width: 45%;
                        p{
                          .gray{
                            color: #5f7892;
                          }
                        }
                      }
                      .c2{
                        position: absolute;
                        right: 0px;
                        top: 50%;
                        transform: translateY(-50%);
                        width: 45%;
                        text-align: center;
                      }
                  }
              }
              &:first-child {
                float: left;
              }
            }
          }
          li {
            height: 100px;
            background: #fff;
            width: calc(48%);
          }
        }
      }
      .lef {
        line-height: 311px;
        .top {
          overflow: hidden;
          line-height: 100%;
          height: 33%;
          .btn_group {
            overflow: visible;
            margin: 8px 0 0;
            position: relative;
            .gw,
            .rw {
              float: left;
              position: relative;
              width: 120px;
              height: 41px;
              border-radius: 8px;
              transition: all 0.2s ease-in-out;
              &:active{
                box-shadow:none;
              }
            }
            .gw {
              margin: 0 8px 0 4px;
              &:hover{
                box-shadow: 0 0 4px 1px #6fc271;
              }
              &:active{
                box-shadow:none;
              }
              &:after {
                position: absolute;
                content: "";
                width: 120px;
                height: 38px;
                top: 3px;
                left: 0;
                background: linear-gradient(
                  to right,
                  #185202 0%,
                  #87fa79 50%,
                  #185202 100%
                );
                border-radius: 8px;
              }
            }
            .rw {
              &:hover{
                box-shadow: 0 0 4px 1px #e77276;
              }
              &:active{
                box-shadow:none;
              }
              &:after {
                position: absolute;
                content: "";
                width: 120px;
                height: 38px;
                top: 3px;
                left: 0;
                background: linear-gradient(
                  to right,
                  #9d0739 0%,
                  #fe6a6b 50%,
                  #9d0739 100%
                );
                border-radius: 8px;
              }
            }
          }
          button {
            color: #fff;
            line-height: 38px;
            width: 120px;
            height: 38px;
            border-radius: 8px;
            font-size: 14px;
            position: relative;
            overflow: hidden;
            z-index: 1;
            transition: all 0.2s ease-in-out;
            &:active {
              transform: translateY(3px);
            }
            &:hover:hover:hover{
              &:after{
                opacity: 1;
              }
            }
            p {
              display: inline-block;
              line-height: 100%;
              font-size: 15px;
            }
            &.green {
              background: linear-gradient(to right, #28c713 0%, #0e7610 100%);
              float: left;
              box-shadow: 0px -2px 5px -1px #6dc070;
              &:before {
                pointer-events: none;
                position: absolute;
                content: "";
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background: url(../images/icon/waves.png) no-repeat;
                background-size: 230%;
                background-position: -118px 3px;
              }
              &:after{
                pointer-events: none;
                position: absolute;
                content: "";
                width: 100%;
                height: 43px;
                top: 0;
                left: 0;
                background: url(../images/icon/shine.png) no-repeat;
                background-size: 100%;
                opacity: 0;
              }
            }
            &.red {
              background: linear-gradient(to right, #fe4546 0%, #a5023e 100%);
              float: left;
              letter-spacing: 5px;
              box-shadow: 0px -2px 5px -1px #d9979e;
              &:before {
                position: absolute;
                content: "";
                width: 120px;
                height: 38px;
                top: 0;
                left: 0;
                background: url(../images/icon/waves.png) no-repeat;
                background-size: 230%;
              }
              &:after{
                pointer-events: none;
                position: absolute;
                content: "";
                width: 100%;
                height: 43px;
                top: 0;
                left: 0;
                background: url(../images/icon/shine.png) no-repeat;
                background-size: 100%;
                background-position: 0 -43px;
                opacity: 0;
              }
            }
            span {
              display: inline-block;
              vertical-align: middle;
              width: 20px;
              height: 22px;
              line-height: 20px;
              background: url(../images/icon/btn_i.png) no-repeat;
              background-size: 200%;
              margin: 0 4px 0 0;
              &.i1 {
                background-position: 0 0;
              }
              &.i2 {
                background-position: -20px 0;
              }
            }
          }
        }
        .bot {
          width: 100%;
          height: 67%;
          display: inline-block;
          line-height: 100%;
          vertical-align: top;
          padding: 5px 0 0;
          .wrap {
            h2 {
              font-weight: normal;
              font-size: 18px;
              margin: 0 0 5px;
            }
            margin: 8px 0 16px;
            &:last-child {
              margin: 0 0 0px;
            }
            .bar_wrap {
              line-height: 30px;
              .bar,
              p {
                display: inline-block;
                vertical-align: middle;
              }
              .bar {
                width: 210px;
                height: 28px;
                background: #fff;
                border-radius: 4px;
                box-shadow: 0 0 1px 0px grey;
                position: relative;
                overflow: visible;
                .per {
                  background: #ef1d42;
                  position: absolute;
                  left: 0;
                  top: 0;
                  width: 80%;
                  height: 100%;
                  box-shadow: 0 0 3px 0 #ef1d42;
                  border-radius: 4px 0 0 4px;
                  &.per2 {
                    width: 70%;
                  }
                }

                p {
                  position: absolute;
                  font-size: 14px;
                  left: 20px;
                  top: 50%;
                  transform: translateY(-50%);
                  color: #fff;
                  z-index: 1;
                  line-height: 100%;
                }
              }
              .time {
                margin: 0 0 0 8px;
                font-size: 18px;
                span {
                  color: #aa1a33;
                  font-size: 22px;
                  margin: 0 -3px 0 0;
                }
              }
            }
          }
        }
      }
      .mid {
        .event {
          width: 100%;
          height: calc(100% - 61px);
          overflow-y: scroll;
          border-radius: 8px 0 0 8px;
          position: relative;
          &::-webkit-scrollbar {
            width: 5px;
            position: absolute;
            left: 0;
          }
          &::-webkit-scrollbar-thumb {
            background: #fff;
            border-radius: 10px;
          }
          &::-webkit-scrollbar-track {
            background: #7993ab;
            border-radius: 10px;
          }
        }
        ul {
          width: 95%;
          height: auto;
          padding: 16px 21px 16px 14px;
          background: #fff;
          border-radius: 8px;
          position: relative;

          li {
            width: 100%;
            height: auto;
            border-bottom: 1px solid #c5c5c5;
            margin: 8px 0 0;
            &:first-child {
              margin: 0;
            }
            .title {
              width: 100%;
              line-height: 30px;
              height: 30px;
              .name {
                display: inline-block;
                vertical-align: middle;
                line-height: 100%;
                font-weight: bold;
              }
              .im {
                display: inline-block;
                vertical-align: middle;
                font-size: 12px;
                line-height: 16px;
                border: 1px solid red;
                color: red;
                border-radius: 4px;
                padding: 0 3px;
              }
              .time {
                float: right;
                color: #7a7a7a;
                font-size: 15px;
              }
              .i {
                width: 22px;
                height: 16px;
                background: url(../images/icon/horn.png) no-repeat;
                background-size: 100%;
                line-height: 16px;
                display: inline-block;
                vertical-align: middle;
              }
            }
            .content {
              width: 100%;
              line-height: 20px;
              color: #5f7892;
              padding: 0 0 12px;
            }
          }
        }
      }
      h1 {
        color: #252525;
        line-height: 28px;
        font-size: 22px;
        margin: 0 0 5px;
      }
    }
  }
  footer {
    width: 100%;
    height: 69px;
    line-height: 69px;
    background: #252525;
    text-align: center;
    .fw {
      display: inline-block;
      width: 500px;
      color: #858585;
      vertical-align: middle;
      ul {
        width: 100%;
        overflow: hidden;
        line-height: 23px;
        li {
          float: left;
          width: 20%;
          border-right: 1px solid #363636;
          &:last-child {
            border-right: 1px solid transparent;
          }
          p {
            cursor: pointer;
            display: inline-block;
          }
        }
      }
      .cl {
        line-height: 100%;
        margin: 6px 0 0;
      }
    }
  }
}
.bg_t{
  background: url(../images/bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    width: 1920px;
    height: 1000px;
    position: relative;
    position: fixed;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}
